body {
  font-family: Arial;
  background: #eee;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box {
  background: white;
  margin-top: 200px;
  padding: 30px;
  width: 260px;
}

li {
  margin-top: 6px;
  background: #f2f2f2;
  padding: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button.del {
  margin-left: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

input{
    padding: 4.5px;
}

button{
    padding: 4.5px;
}